{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 border-bottom">
                <p class="pt-2 pb-2 mb-0 text-muted">Lyt til robotten</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-5">
                <h1>{{choice}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-5">
                <a href="{{ url_for('page', story=story_id) }}" class="btn btn-primary btn-lg">Fortsæt historien</a>
            </div>
        </div>
    </div>
    <img src="static/images/pepper.png" alt="Pepper" class="img-fixed-bottom">
{% endblock %}