{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1>Vælg historie</h1>
            </div>
        </div>
        <div class="row">
            {% for story in story_data %}
                <div class="col-6 col-sm-4">
                    <a href="{{ url_for('story', story=loop.index-1) }}">
                        <img src="{{ story_path[loop.index-1] }}{{ story.cover_image }}" alt="{{ story.title }}" class="img-fluid">
                        <h2>{{ story.title }}</h2>
                    </a>
                    <p>Skrevet af: {{ story.author }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <img src="static/images/pepper.png" alt="Pepper" class="img-fixed-bottom">
{% endblock %}