{% extends "base.html" %}

{% block content %}

    {% for pages in story_data.chapters[0] %}
    {{pages.content}}
        {% for content in pages %}
            
            {% if content.chapter_title %}
                <h2>{{ content.chapter_title }}</h2>
            {% endif %}
            {% for text in content %}
                <p>{{ text }}</p>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col">

        </div>
        <div class="col align-self-end align-self-baseline">
            <a href="{{ url_for('page', story=story_id, chapter=current_chapter, page=current_page) }}" class="btn btn-primary">Næste side ></a>
        </div>
    </div>
{% endblock %}