{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <p>Here comes the story</p>

        </div>
    </div>
    <div class="row">
        {% for story in stories %}
            <div class="col-3">
                <a href="{{ url_for('story', data='data_url') }}">
                    <img src="{{ story.cover_url }}" alt="{{ story.title }}" class="img-fluid">
                    {{ story.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}